@charset "utf-8";

body {
  background-color: lightyellow;
}
.sakubun {
  width: 920px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 28px;
  color: #333;
  position: relative;
  letter-spacing: 10px;
  padding: 5px;
}
.sakubun::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to top, rgba(0,0,0,.2) 1px, transparent 0),
    linear-gradient(to left, rgba(0,0,0,.2) 1px, transparent 0);
  background-size: 38px 42px;
  background-position: top left;
  background-origin: padding-box;
}
.sakubun::after {
  content: '';
  display: block;
  clear: both;
}
.sakubun p {
  margin: 0;
}

